# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=5.1=1_gnu
accelerate=0.21.0=pypi_0
addict=2.4.0=pypi_0
asttokens=2.4.1=pypi_0
backcall=0.2.0=pypi_0
bitsandbytes=0.41.0=pypi_0
blinker=1.7.0=pypi_0
ca-certificates=2024.3.11=h06a4308_0
carla=0.9.14=dev_0
certifi=2024.2.2=pypi_0
charset-normalizer=3.3.2=pypi_0
cmake=3.29.0.1=pypi_0
comm=0.2.2=pypi_0
configargparse=1.7=pypi_0
contourpy=1.1.1=pypi_0
cycler=0.12.1=pypi_0
dash=2.16.1=pypi_0
dash-core-components=2.0.0=pypi_0
dash-html-components=2.0.0=pypi_0
dash-table=5.0.0=pypi_0
decorator=4.4.2=pypi_0
einops=0.6.1=pypi_0
einops-exts=0.0.4=pypi_0
executing=2.0.1=pypi_0
fastjsonschema=2.19.1=pypi_0
flask=3.0.2=pypi_0
fonttools=4.50.0=pypi_0
gradio=3.35.2=pypi_0
gradio-client=0.2.9=pypi_0
httpcore=0.17.3=pypi_0
httpx=0.24.0=pypi_0
idna=3.6=pypi_0
ipython=8.12.3=pypi_0
ipywidgets=8.1.2=pypi_0
itsdangerous=2.1.2=pypi_0
jedi=0.19.1=pypi_0
joblib=1.3.2=pypi_0
jupyter-core=5.7.2=pypi_0
jupyterlab-widgets=3.0.10=pypi_0
kiwisolver=1.4.5=pypi_0
ld_impl_linux-64=2.38=h1181459_1
libffi=3.4.4=h6a678d5_0
libgcc-ng=11.2.0=h1234567_1
libgomp=11.2.0=h1234567_1
libstdcxx-ng=11.2.0=h1234567_1
lit=18.1.2=pypi_0
llava=1.1.3=pypi_0
lxml=5.2.1=pypi_0
markdown2=2.4.13=pypi_0
matplotlib=3.4.2=pypi_0
matplotlib-inline=0.1.6=pypi_0
nbformat=5.10.3=pypi_0
ncurses=6.4=h6a678d5_0
nest-asyncio=1.6.0=pypi_0
networkx=2.5.1=pypi_0
numpy=1.20.0=pypi_0
nvidia-cublas-cu11=11.10.3.66=pypi_0
nvidia-cuda-cupti-cu11=11.7.101=pypi_0
nvidia-cuda-nvrtc-cu11=11.7.99=pypi_0
nvidia-cuda-runtime-cu11=11.7.99=pypi_0
nvidia-cudnn-cu11=8.5.0.96=pypi_0
nvidia-cufft-cu11=10.9.0.58=pypi_0
nvidia-curand-cu11=10.2.10.91=pypi_0
nvidia-cusolver-cu11=11.4.0.1=pypi_0
nvidia-cusparse-cu11=11.7.4.91=pypi_0
nvidia-nccl-cu11=2.14.3=pypi_0
nvidia-nvtx-cu11=11.7.91=pypi_0
open3d=0.18.0=pypi_0
opencv-python=4.5.2.52=pypi_0
openssl=3.0.13=h7f8727e_0
pandas=1.4.4=pypi_0
parso=0.8.3=pypi_0
peft=0.4.0=pypi_0
pexpect=4.9.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=10.3.0=pypi_0
pip=24.0=pypi_0
platformdirs=4.2.0=pypi_0
plotly=5.20.0=pypi_0
prompt-toolkit=3.0.43=pypi_0
psutil=5.9.8=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
pydantic=1.10.14=pypi_0
pygame=2.5.2=pypi_0
pygments=2.17.2=pypi_0
pyparsing=2.4.7=pypi_0
pyquaternion=0.9.9=pypi_0
python=3.8.19=h955ad1f_0
readline=8.2=h5eee18b_0
requests=2.31.0=pypi_0
retrying=1.3.4=pypi_0
scikit-learn=0.24.2=pypi_0
scipy=1.6.3=pypi_0
seaborn=0.13.2=pypi_0
setuptools=68.2.2=py38h06a4308_0
shapely=1.8.4=pypi_0
shortuuid=1.0.13=pypi_0
six=1.16.0=pypi_0
sqlite=3.41.2=h5eee18b_0
stack-data=0.6.3=pypi_0
svgwrite=1.4.3=pypi_0
tenacity=8.2.3=pypi_0
threadpoolctl=3.4.0=pypi_0
timm=0.6.13=pypi_0
tk=8.6.12=h1ccaba5_0
tokenizers=0.13.3=pypi_0
torch=2.0.1=pypi_0
torchvision=0.15.2=pypi_0
traitlets=5.14.2=pypi_0
transformers=4.31.0=pypi_0
triton=2.0.0=pypi_0
typing-extensions=4.10.0=pypi_0
wavedrom=2.0.3.post3=pypi_0
websockets=12.0=pypi_0
wheel=0.41.2=py38h06a4308_0
widgetsnbextension=4.0.10=pypi_0
xz=5.4.6=h5eee18b_0
zlib=1.2.13=h5eee18b_0
